<!DOCTYPE html>
<html lang="en">
<head>
  <title>Online music library</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

    .navbar-inverse .navbar-nav>li>a {
    color: #ffffff;
}
.wrapper{
    background-color: #080808;
}

.nav>.active>a:hover {
    color: #e80f0f;
    background-color: #080808;
    
}
.navbar-nav{
    font-size: large;
    font-weight: bolder;
    font-stretch: semi-expanded;
    font-family: cursive;
}

.footer-class {
    background-color:#9e0909;
}
.navbar-left {
  padding: 0px;
  cursor: pointer;
}
.navbar-left>img {
    height: 110px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-right: 15px;
    width: auto;
}

    .navbar-inverse {
        background-color:#9e0909;

    }
    
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
    
    .carousel-inner > .item > img {
    margin: 0 auto;
}
  /* Hide the carousel text when the screen is less than 600 pixels wide */
  @media (max-width: 600px) {
    .carousel-caption {
      display: none; 
    }
  }


.container.footer-container {
    width: 100%;
}
.footer-container {
    background:#9e0909;
}

.footer-container .music-logo {
    text-align: center;
    margin-bottom: 0;
}

.footer-container .music-logo img{
    margin-top: 1em;
    height: 70px;
}
.footer {
    text-align: center;
    color: black;
    font-size: 1.5em;
    padding: 20px 0 20px;
    margin: 0 auto 0 auto;
    margin-bottom: 85px;
}

.footer a {
    color: white;
    font-size: large;
    font-weight: bolder;
    font-stretch: semi-expanded;
    font-family: cursive;
}

.social {
    margin-top: 10px;
    display: inline-block;
    cursor: pointer;
}





  </style>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-left" ><img src="/images/tunein.jpg"alt="logo" onclick="window.location='/'"></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/music">Music</a></li>
        <li><a href="/aboutus">Aboutus</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/login">  <span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        <li><a href="/signup"><span class="glyphicon glyphicon-sign-up"></span> Signup</a></li>
      </ul>
    </div>
  </div>
</nav>

<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="/images/slide1.jpg" alt="Image">
        <div class="carousel-caption">
          <h3>Sell $</h3>
          <p>Money Money.</p>
        </div>      
      </div>

      <div class="item">
        <img src="/images/slide2.jpg" alt="Image">
        <div class="carousel-caption">
          <h3>More Sell $</h3>
          <p>Lorem ipsum...</p>
        </div>      
      </div>

      <div class="item">
            <img src="/images/slide3.jpg" alt="Image">
            <div class="carousel-caption">
              <h3>Sell $</h3>
              <p>Money Money.</p>
            </div>      
          </div>

    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
</div>
  
<div class="container text-center">    
  <h3>NEW</h3><br>
  <div class="row">
    <div class="col-sm-4">
      <img src="/images/new1.jpg" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-4"> 
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
      <p>Project 2</p>    
    </div>
    <div class="col-sm-4">
      <div class="well">
       <p>Some text..</p>
      </div>
      <div class="well">
       <p>Some text..</p>
      </div>
    </div>
  </div>
</div><br>

<div class="container footer-container">
    <section class="music-logo">
        <img src="/images/tunein2.jpg" alt="logo"onclick="window.location='/'">
    </section>
    <section class="footer">
        <div>
            <a href="/" onclick="window.location='/'">Home</a>  |
            <a href="/music">Listen Now</a>  | 
            <a href="/aboutus" >About TuneIn</a>  | 
            <a href="/contact" >Contact TuneIn</a>  | 
            <a href="/login" >Login TuneIn</a>  | 
        </div>
        <div class="social" >
            <a id="facebook">
                 <img src="/images/facebook.png" alt="facebooklogo">
            </a>
            <a id="instagram" >
                    <img src="/images/instagram.png" alt="instagramlogo">
               </a>
               <a id="twitter" >
                    <img src="/images/twitter.png" alt="twitterlogo">
               </a>
        </div>
        <div class="copyright">
            copyright @ 2018 TuneIN 
        </div>
    </section>
</div>
<script>
$('#facebook').click(function(){
window.open("https://www.facebook.com/");
});

$('#instagram').click(function(){
window.open("https://www.instagram.com/");
});

$('#twitter').click(function(){
window.open("https://twitter.com/");
});
    </script>

</body>
</html>
